.achievements{

padding:90px 10%;

background:#0f172a;

color:white;

}

.achievement-list{

display:flex;

flex-direction:column;

gap:20px;

margin-top:40px;

}

.achievement-card{

background:#1e293b;

padding:22px;

border-radius:12px;

font-size:18px;

transition:.4s;

}

.achievement-card:hover{

background:#38bdf8;

color:#111827;

transform:translateX(10px);

}