.certificates{
padding:90px 10%;
background:#111827;
color:white;
}

.certificate-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
margin-top:40px;
}

.certificate-card{
text-decoration: none;
color: inherit;
display: block;
background:#1e293b;
padding:25px;
border-radius:15px;
transition:.4s;
text-align:center;
}

.certificate-card:hover{
transform:translateY(-10px);
background:#38bdf8;
color:#111827;
text-decoration: none;
}

.certificate-card h3{
margin-bottom:15px;
}

.certificate-card span{
font-weight:bold;
}