.contact{

padding:90px 10%;

background:#111827;

color:white;

}

.contact-container{

display:flex;

justify-content:center;

margin-top:40px;

}

.contact-card{

background:#1e293b;

padding:40px;

border-radius:20px;

max-width:700px;

width:100%;

text-align:center;

transition:.4s;

}

.contact-card:hover{

transform:translateY(-8px);

box-shadow:0 0 25px rgba(56,189,248,.5);

}

.contact-card h3{

font-size:35px;

margin-bottom:20px;

color:#38bdf8;

}

.contact-card p{

margin-bottom:15px;

line-height:1.8;

}

.contact-info{

margin:30px 0;

}

.contact-info a{

color:white;

text-decoration:none;

}

.social-buttons{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin-top:25px;

}

.social-buttons a{

padding:12px 22px;

background:#38bdf8;

color:white;

text-decoration:none;

border-radius:8px;

transition:.3s;

}

.social-buttons a:hover{

background:#0284c7;

}

@media(max-width:768px){

.contact{

padding:70px 8%;

}

.contact-card{

padding:25px;

}

.social-buttons{

flex-direction:column;

}

}