.education{

padding:90px 10%;

background:#0f172a;

color:white;

}

.timeline{

position:relative;

margin-top:60px;

border-left:4px solid #38bdf8;

padding-left:40px;

}

.timeline-item{

margin-bottom:60px;

position:relative;

}

.timeline-dot{

width:18px;

height:18px;

background:#38bdf8;

border-radius:50%;

position:absolute;

left:-51px;

top:10px;

}

.timeline-content{

background:#1e293b;

padding:25px;

border-radius:15px;

transition:.4s;

box-shadow:0 0 15px rgba(0,0,0,.3);

}

.timeline-content:hover{

transform:translateX(10px);

box-shadow:0 0 25px rgba(56,189,248,.5);

}

.timeline-content h3{

color:#38bdf8;

margin-bottom:10px;

font-size:25px;

}

.timeline-content h4{

margin-bottom:10px;

font-size:20px;

}

.timeline-content p{

margin-bottom:10px;

color:#cbd5e1;

}

.timeline-content span{

font-weight:bold;

color:#22c55e;

}

@media(max-width:768px){

.education{

padding:70px 8%;

}

.timeline{

padding-left:25px;

}

.timeline-dot{

left:-36px;

}

.timeline-content h3{

font-size:22px;

}

.timeline-content h4{

font-size:18px;

}

}