.skills{

padding:90px 10%;

background:#0f172a;

color:white;

}

.skills-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:25px;

margin-top:40px;

}

.skill-card{

background:#1e293b;

padding:25px;

border-radius:12px;

text-align:center;

font-size:20px;

font-weight:bold;

transition:.4s;

cursor:pointer;

box-shadow:0 0 15px rgba(0,0,0,.3);

}

.skill-card:hover{

background:#38bdf8;

color:#111827;

transform:translateY(-10px);

}

@media(max-width:768px){

.skills{

padding:70px 8%;

}

.skill-card{

font-size:18px;

padding:20px;

}

}